#logo{
    float:right;
}


body{
    padding-top:5em;
}
/*----------------------
Nav
----------------------*/
.navbar-login{
    margin-right:5%;
}
/*----------------------
Product Card Styles
----------------------*/
.panel.panel--styled {
    background: #F4F2F3;

}
.panelTop {
    padding: 30px;
}

.panelBottom {
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
}

#itemPrice {
    font-size: 24px;
    color: #810326;
}




/*----------------------
##star Rating Styles
----------------------*/
.stars {
    padding-top: 10px;
    width: 100%;
    display: inline-block;
}
span.glyphicon {
    padding: 5px;
}

.glyphicon-star-empty, .glyphicon-star {
    font-size: 35px;
}
.glyphicon-star-empty {
    color: #9d9d9d;
}
.glyphicon-star {
    color: #FD4;
}

/* Sign in */
#loginlink{
    float:right;
    font-size: 85%;
    position: relative;
    top:-10px
}

#signupalert{
    display:none;
}

.error {
    color: #ff0000;
}

/* The side navigation menu */
.sidenav {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #d5d5d5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.peek_thumbnail{
    margin-right: 10px;
    width:30px;
}
/* The navigation menu links */
/*.sidenav li{*/
    /*margin:10px;*/
    /*text-decoration: none;*/
    /*font-size: x-large;*/
    /*color: #818181;*/
    /*display: block;*/

/*}*/

/* When you mouse over the navigation links, change their color */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
    #peek_btn{
        display:none;
    }
}

#qty{
    width: 150px;
    margin: 10px;

}
