
/* This is the css for the categories and product list */

#search {
  width: 140%;
  margin-left: -110%;
}
#submit {
  width: 41%;
  margin-left: 1%;
}
#navcolour{
  background-color: #DCC7AA !important;
}

/* This is the css for the products list I'm working from this website */

body {
    background-color: #F2EEE9;
    font: normal 13px/1.5 Georgia, Serif;
    color: #333;
    height: 100%;
  	margin: 0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.content1 {
  padding: 20px;
  min-height: 100%;
  margin: 30px auto -50px;
  margin-left: 100px;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



/* css footer */
/* css for sticky footer */
.push {
  height: 50px;
}

.footer-distributed{
	background-color: #DCC7AA;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 5px 10px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-grid;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
	padding-left: 20px;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
	padding-left: 120px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 68px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}



.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:10;
}


.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
	color:  #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #6b7a8f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-icons{
	margin-top: 15px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #6b7a8f;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons a i{
  display: inline-block;
  width: 21px;
  margin:7px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* Login css*/

#username {
	width: 500px;
}

#password {
	width: 500px;
}


/* This is the css for the shopping cart*/

.row{
      margin-right: -37px !important;
}
.media-body {
  margin-left: 25px !important;
  margin-top: 5px;
}

.media .media-body a{
  color: black !important;
  text-decoration: none;
  font-size: 18px;
}

/* This is the css for the checkout page */

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 35px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 25%;
}
.col-60 {
  -ms-flex: 50%; /* IE10 */
  flex: 25%;
}

.col-65 {
  -ms-flex: 50%; /* IE10 */
  flex: 25%;
  margin-right: 13%;
}
.col-95 {
  -ms-flex: 50%; /* IE10 */
  flex: 31%;
  margin-right: 11%;
}
.col-35 {
  -ms-flex: 50%; /* IE10 */
  flex: 30%;
  margin-left: 3%;
}


.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 85% !important;
  margin-left: 0px !important;
}

.container2 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 82% !important;
  margin-left: -151px !important;
}
.container3 {
  margin-left: 846px !important;
  margin-top: -355px;
}

#state {
  width: 5% !important;
}
#zip {
  width: 5% !important;
}
#zip2 {
  margin-left:5% !important;
}



input[type=text] {
  min-width: 88%;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing : border-box;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

.btnS {
  background-color: black;
  color: white;
  padding: 7px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnS:hover {
  background-color: #EE7500;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}